input,
textarea,
select,
input:focus,
select:focus,
textarea:focus {
    outline-style: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control,
.form-control:focus {
    border-radius: 2px;
    background-color: #f2f2f2;
    border-color: #ececec;
    color: #262932;
}