.pagination li a:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pagination li a:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pagination > li > a,
.pagination > li > span {
    color: #262932;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #e6e6e6;
    color: #262932;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}